body{
    background-image: linear-gradient(white, red);
    text-align: center;
    list-style-position: inside;
    }
    
.news-title{
}
.dateList{
    
}
ul{
color: blue;
}
li{
    color: purple;
}

.personalKey{
    font-weight: bold;
    font-style: italic;   
    color: blueviolet   
}

img{
    height: 400px;
    width: 50%;
}
